.footer {
    background-color: #ffffff;

}

.coluna {
    margin: 10px 10px 0;
    width: 120px;
    text-align: center;
}

.coluna ul {
    border-top: 2px solid rgb(255, 255, 255);
}

.coluna a {
    color: black;
}
.coluna li {
    margin-top: 5px;
}
.coluna:hover {
    color: black;
}
.coluna a:hover {
    font-weight: bold;
    color: black;
}
@media only screen and (max-width:767px) {
    .coluna {
        margin: 15px 10px;
    }
}