.footer {
    background-color: #ffffff;
    padding: 10px;
}


.footer .social {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-left: 39%;
}

.footer .social > a:hover {
    opacity: 0.9;
}

.imgso {
    width: 0.1%;
}

.social{
    width: 20%;
    color: #CC2828;
}

@media (max-width: 1025px) {
    .social{
       width: 30%;
    }

}