*{
    margin: 0;
    padding: 0;
    background-color: hwb(0 100% 0%);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    margin-top: 10%;
    margin-left: 40%;
    color: #9c4e4e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    border: 1px solid #9c7575;
    padding: 15px;
    text-align: left;
}
.Links{
    width:30%;
    margin-top: -20%;
    margin-left: 5%;
    
}

.Links:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.yt{
    border-radius: 15%;
    margin-left: 40%;
    margin-top: -30%;
}

p{
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.sinopseh {
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    color: #000000;
    text-align: justify;
    font-size: smaller;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-left: 40%;
    margin-top: -15%;
}