*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}


.emc{
    font-size:200%;
    margin-top: 5%;
    margin-left: -5%;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emb{
    font-size:200%;
    margin-top: 5%;
    margin-left: -5%;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links{
    margin-left: 30vh;
    margin-top: 3vh;
}

.linksemb{
    margin-left: 30vh;
    margin-top: 5vh;
}

.divcartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c; 
    ;
}

.eaqacartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.deadpool:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.mmf4:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

img{
    min-width: 10%;
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form_box{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    width: 700px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 27%;
    margin-top: -3%;
}

.form_box .title{
    padding: 24px 32px;
    font-size: 24px;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form_box form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.form_box input,
.form_box textarea{
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #000000;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form_box input:first-child{
    margin-right: 16px;
}

.form_box input[name=subject]{
    width: 100%;
}

.form_box textarea{
    width: 100%;
    height: 180px;
    padding: 16px;
}

.form_box button{
    display:block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1025px) {
.links, .linksemb{
    display: flex;
    width: 80%;  
    margin-left: 10%;}

.form_box{
    width: 40%;}


}