*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}


.emc{
    font-size:200%;
    margin-top: 5%;
    margin-left: -5%;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emb{
    font-size:200%;
    margin-top: 5%;
    margin-left: -5%;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divcartaz{
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;  
    align-items: center;
    margin-left: 3%;
    gap: 10px;

}

.eaqacartaz{
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto; 
    align-items: center;
    margin-left: 5%;
    gap: 10px;
    
}

.deadpool{
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    margin-left: 5%;
    margin-top: -70%;
    right: 10%;
    gap: 10px;
   
}

.mmf4{
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;  
    align-items: center;
    margin-left: 75%;
    margin-top: -90vh;
    gap: 10px;
   
}
@media (max-width: 768px) {
    .desc {
        font-size: 1rem;
        border-width: 0.2rem;
    }
}

@media (max-width: 600px) {
    .menu li {
        margin-right: 0.5rem;  
    }
}

.divcartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c; 
    ;
}

.eaqacartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.deadpool:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.mmf4:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

img{
    min-width: 10%;
    max-width: 100%;
}