*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.emc{
    font-size:200%;
    margin-top: 5%;
    margin-left: -5%;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #CC2828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divcartaz{
    width: 15%;
    height: 10%;
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10vh;   
    align-items: center;
    margin-left: 10%;
    gap: 10px;
}

.eaqacartaz{
    width: 15%;
    height: 10%;
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10vh;
    align-items: center;
    margin-left: 5%;
    margin-top: -80%;
    right: 10%;
    gap: 10px;
}

.deadpool{
    width: 15%;
    height: 10%;
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10vh;
    align-items: center;
    margin-left: 5%;
    margin-top: -80%;
    right: 10%;
    gap: 10px;
}

.mmf4{
    width: 15%;
    height: 10%;
    border-radius: 15%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 30vh;
    align-items: center;
    margin-left: 70%;
    margin-top: -80%;
    right: 10%;
    gap: 10px;
}
@media (max-width: 768px) {
    .desc {
        font-size: 1rem;
        border-width: 0.2rem;
    }
}

@media (max-width: 600px) {
    .menu li {
        margin-right: 0.5rem;  
    }
}

.divcartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c; 
    ;
}

.eaqacartaz:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.deadpool:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.mmf4:hover {
    box-shadow: 0 0 10px 5px #2c2c2c;
}

.social-icon{
    width: 10%;
}