*{
    margin: 0;
    padding: 0;
}
.log{
    margin-left: -160%;
    width: 20%;
    margin-top: -5%;
}

.tit{
    margin-top: -4.5%;
    text-align: center;
    color: #ff008c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}