body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50%;
}

table {
    width: 500px;
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 15%;
    align-items: center;
}

thead {
    background-color: #ff008c;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tbody a {
    color: #ff008c;
    text-decoration: none;
    font-weight: bold;
}

tbody a:hover {
    text-decoration: underline;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    max-width: 450px;
    margin: 20px auto;
}