.footer {
    background-color: #ffffff;
    padding: 10px; 
}

.footer .social {
    text-align: center;
    padding-bottom: 20px; 
    margin-top: 5%; 
}

.footer .social > a {
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px; 
    color: inherit;
    opacity: 0.75;
}

.footer .social > a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    color: #ff008c;
    margin-bottom: 0;
}

.imgso {
    width: 2.5%; 
}

@media (max-width: 768px) {
    .footer .social > a {
        width: 30px; 
        height: 30px;
        line-height: 30px; 
    }
}