.header {
    padding: 1.5%;
    border-bottom: 5px solid #ff008c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 10%;
    backdrop-filter: blur(12px);
}

@media (max-width: 1025px) {
    .header{
      padding: 10px 1px;
      width: 100%;
      display: flex;
      gap: 8%;
    }

    .logo{
        width: 1%;
      }

    .body{
        width: 100%;
    }
}

.homeh, .sobre, .projetos, .contatoh, .eu {
    text-decoration: none;
    cursor: pointer;
    color: #ff008c;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.logo {
    margin-right: 80%;
    width: 5%;
}

.homeh:hover, .sobre:hover, .projetos:hover, .contatoh:hover {
    color: #ff008c;
}

.projetos{
    margin-top: -2%;
    text-align: center;
}

body {
    scroll-padding-top: 10px;
    background-color: white;
    padding-top: 50px;
  }